---
layout: archive
permalink: /year-archive/
title: "Posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<b></b>Note:</b> Please see these posts more as minor subjects of interest, not as any major work I have done. 
Anything more substantial, is probably a product of my professional work and either published in a paper or covered by a NDA.
So these are just minor bits and pieces that I found interesting in one way or another and felt the need to put it out into the world or record it (maybe even just for myself :smiley: ).


{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
